@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 25px;
}

header>nav>ul {
  display: flex;
  list-style: none;
  gap: 20px;

}

header>nav>ul>li>a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 40px;
}

main {
  width: 50%;
  min-height: 100vh;
  border: 2px solid black;
}

.page-title,
.projects-title,
.experience-title,
.education-title,
.second-job-name,
.reviews-title,
.copyright {
  font-family: 'Gloria Hallelujah', cursive;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  height: 100%;
  border: 1px solid black;

}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14vw;
  border-right: 1px solid black;
}

.projects .projects-title {
  padding-left: 20px;
  padding-top: 10px;
}

.projects>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.projects>ul>li:first-child {
  margin-top: 20px;
}

.projects>ul>li {
  border-bottom: 1px solid black;
  padding: 0 20px 10px
}

.projects>ul>li:last-child {
  border: none;
  margin-bottom: 90px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 22vw;
  border-right: 1px solid black;
}

.experience>.first-job:first-child {
  border-bottom: 1px solid black;
}

.experience>.first-job {
  height: 100%;
  padding-left: 20px;
  margin-top: 10px;
}

.experience>.first-job>p {
  margin-bottom: 4px;
}

.experience .experience-title {
  margin-bottom: 16px;
}

.experience .first-job p:nth-child(2) {
  font-family: 'Gloria Hallelujah', cursive;
}

.experience>.first-job>span>a,
.experience>.second-job>span>a {
  text-decoration: none;
  color: rgb(79, 168, 241);
}

.experience>.second-job {
  height: 100%;
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.experience>.second-job>.second-job-name {
  margin-top: -22px;
  margin-bottom: 10px;
}

.experience>.second-job>p {
  width: 80%;
  margin-bottom: 6px;
}

.education {
  width: 20vw;
  padding: 20px 10px 20px 20px;

}

.education>p:nth-child(2) {
  width: 80%;
}

.education>.courses-list>p {
  margin-bottom: 20px;
}

.education>.courses-list {
  margin-top: 12px;
}

.education>.courses-list>ul>li {
  list-style: none;
  margin-left: 2px;
}

.education>.courses-list>ul>li::before {
  content: '- '
}

.reviews {
  min-height: 65vh;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 100px;
}

.comentaries {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.comentaries article {
  border: 2px solid black;
  padding-top: 20px;
  padding-left: 15px;
  height: 20vh;
  border-radius: 32px;
}

.comentaries>.comentary-card p:nth-child(2),.comentaries>.comentary-card p:nth-child(3) {
  color: rgb(189, 188, 188);
}

.comentaries>.comentary-card p:nth-child(2) {
  margin-top: 12px;
}

.copyright {
  margin-top: 80px;
  text-align: center;
  font-size: 22px;
}