@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}


header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 25px;
}


header>nav>ul {
  display: flex;
  list-style: none;
  gap: 20px;

}

header>nav>ul>li>a {
  text-decoration: none;
  color: #000;
}



h1 {
  text-align: center;
  font-size: 40px;
}

main {
  width: 50%;
  border: 2px solid black;
  min-height: 100vh;
}

.page-title,
.projects-title,
.experience-title,
.education-title, .second-job-name {
  font-family: 'Gloria Hallelujah', cursive;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  height: 100%;
  border: 1px solid black;
}


.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12vw;
  border-right: 1px solid black;
}


.projects .projects-title {
  padding-left: 20px;
  padding-top: 20px;
}


.projects>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.projects>ul>li:first-child {
  margin-top: 20px;
}



.projects>ul>li {
  border-bottom: 1px solid black;
  padding: 0 20px 10px
}

.projects>ul>li:last-child {
  border: none;
  margin-bottom: 90px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  border-right: 1px solid black;
  margin-left: -25px;
}

.experience>.first-job:first-child {
  border-bottom: 1px solid black;
}

.experience>.first-job {
  height: 100%;
  padding-left: 20px;
  margin-top: 10px;
}

.experience>.first-job>p {
  margin-bottom: 4px;
}

.experience .experience-title{
  margin-bottom: 16px;
}

.experience .first-job p:nth-child(2) {
  font-family: 'Gloria Hallelujah', cursive;
}

.experience>.first-job >span >a ,.experience > .second-job > span > a {
  text-decoration: none;
  color: rgb(79, 168, 241);
}


.experience > .second-job {
  height: 100%;
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.experience > .second-job > .second-job-name {
margin-top: -22px;
margin-bottom: 10px;
}

.experience > .second-job >  p{
  width: 80%;
  margin-bottom: 6px;
}

.education {
  width: 33%;
}